
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header a{
  color: white;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.products-list{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(85, 85, 85);
}

.products-list a{
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
}